body{
font-family: Arial;
text-align:center;
background:#ffeef5;
margin:0;
}

.center{
margin-top:20vh;
}

h1{
font-size:50px;
color:#c2185b;
}

.quote{
font-size:18px;
color:#555;
margin-top:10px;
}

.btn{
display:inline-block;
margin-top:40px;
padding:12px 25px;
background:#ff4d6d;
color:white;
text-decoration:none;
border-radius:20px;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:40px;
}

.gallery img{
width:100%;
border-radius:15px;
}

.title{
margin-top:40px;
}

.balloon-container{
font-size:80px;
margin-top:40px;
}

.balloon{
display:inline-block;
cursor:pointer;
margin:20px;
}

#message{
font-size:22px;
color:#d6336c;
margin-top:30px;
}

.final{
font-size:22px;
margin-top:20px;
}

.sign{
margin-top:20px;
font-style:italic;
}